@media screen and  (max-width: 578px) {
    .home{
  width: 100%;
  height: 800px;
  
}

.text-home #home1{
    position: absolute;
    height: 95px;
    width: 349px;
    left: 10px;
}
 
 .text-home #home2 {
    left: 10px;
 }
.button-home{
    left: 10px;
    top: 300px;
}
.img{
    position: absolute;
    width: 90%;
    left: 10px;
    top: 390px;
 }

 }

 @media screen and  (max-width: 578px) {

    .conteudo, .conteudo2{
        display: flex;
       flex-direction: column;
        align-items: center;
 }

.pesquisa-nome{ 
Text-align: 30px;
}
  }


